@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform:scale(1.05);
  }
  
  100% {
    transform:scale(1);
  }
}

/* Ensure the target letter acts as the coordinate anchor */
.letter-anchor {
  position: relative;
  display: inline-block; /* Allows predictable positioning context */
}

/* Position the image relative to the letter */
.anchored-image {
  position: absolute;
  
  /* Adjust these values to place the image exactly where you want it */
  bottom: 29px;       /* Places the image right above the letter */
  left: 10px;          /* Centers the image horizontally relative to the letter */
  
  /* Prevent the image from breaking text selection or layout */
  pointer-events: none; 
  width: 150px;        /* Set your desired image size */
  height: auto;
}

@keyframes expand-title {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.05);
  }
  20% {
    transform: scale(1);
  }
}

.title-image {
  animation: expand-title 8s ease-in-out infinite;
}

h1 span {
  display: inline;
}

@media (max-width: 600px) {
  h1 span {
    display: block;
  }
}

h1 {
  font-size: 48px;
  text-align: center;
  color: rgb(255, 145, 0);
  animation: expand-title 8s ease-in-out infinite;
  word-break: break-all;
}

body {
    background-color: #00ee88;
}

.tab {
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.tab button {
  background-color: rgb(146, 249, 146);
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-style: solid;
  border-color: rgb(44, 205, 44);
}

iframe {
    display: block;
    max-width: 600px;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.tab button:hover {
  background-color: #ddd;
  animation: expand 0.5s ease-in-out;
}


.tab button.active {
  background-color: #ffffff;
}

.tabcontent {
  display: none;
  padding: 6px 12px 52px 12px;
  border-top: none;
  max-width: 600px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(37, 88, 52);
  color: white;
  text-align: center;
}